// .banner-interested {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   background-color: rgba(26,140,51,0.6);
//   height: 50px;
// }

// .text-interested input {
//   font-family: $header-font;
//   font-size: 30px;
//   background: none;
//   color: white;
//   border: none;
//   text-decoration: underline;
// }

.raceshow-wrapper {
  position: relative;
  height: 60vh;
}

.event-info {
  position: absolute;
  top: 30px;
  left: 20px;
  height: 70px;
  color: white;
}

.event-keypoints {
  top: 120px;
  left: 20px;
  height: 20vh;
  background: none;
  color: white;
}

.event-title {
  font-size: 40px;
  letter-spacing: 2px;
}

.bulletpoints {
  line-height: 20px;
  font-family: $base-font;
}

.link {
  color: white;
  text-decoration: underline;
  padding-left: 20px;
}

.link:hover {
  color: white;
}
.level-sticker {
  position: absolute;
  top: 20px;
  right: 20px;
}

.race-sports {
  position: absolute;
  right: 20px;
  top: 50%;
  width: 30px;
  ul {
    list-style-type: none;
  }
}

.trail-map-and-interested-wrapper {
  margin-top: -110px;
}

.trail-map img {
  border: 1px solid white;
  width: 100%;
}

.description-text {
  font-size: 13px;
}
.interested-description {
  text-align: center;
  // justify-content: center;
  // align-items: center;
  // height: 60vh;
  margin-top: 130px;
}

.btn-interested {
  margin-top: 20px;
  padding: 20px 20px;
  border: 1px solid rgba(26,140,51,0.6);
  font-family: $header-font;
  font-weight: bold;
  font-size: 30px;
  background: -webkit-linear-gradient(-225deg, rgba(25,52,127,0.6) 0%,rgba(26,140,51,0.8) 33%,rgba(117,181,28,0.6) 66%,rgba(244,218,19,0.6) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
