.card-event-description {
  position: relative;
  margin-bottom: 20px;
  height: 70vh;
  width: 60vw;
}

.event-keypoints {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 20vh;
  width: 20vw;
  background-color: rgba(242,240,237,0.1);
  color: #202126;
}

.event-title {
  font-weight: bolder;
  padding-bottom: 20px;
  font-family: $base-font;
}

.bulletpoints {
  line-height: 30px;
}

.level-sticker {
  position: absolute;
  top: 20px;
  right: 20px;
}


