  .style-guide--entry h2:not(.style-guide--header) { margin-top: 1.3em; }

.style-guide--subentry h3:not(.style-guide--header) {
  margin-top: 0;
  margin-bottom: 1em;
}

.style-guide--subentry {
  background-color: #FAFAFA; // custom color only for this page
                             // that's why it's not in variables.scss
  padding: 1.5em;
  margin: 1em 0;
}

.style-guide--colors {
  .color { height: 5em; }

  .brand-color { background-color: $brand-color; }

  .red { background-color: $red; }
  .blue { background-color: $blue; }
  .yellow { background-color: $yellow; }
  .orange { background-color: $orange; }
  .green { background-color: $green; }
  .gray { background-color: $gray; }
}

.style-guide--sidebar {
  a {
    color: $gray-base;
  }
}

.card-category-index {
  margin-left: 10px;
  margin-top: 10px;
}

.card-index {
  height: 300px;
  width: 400px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  background-size: cover !important;
  border-radius: 5px;
  color: white;
 //  position: relative;
 //  top: 68px;
 // -webkit-transition: .2s ease-in-out;
 //  transition: .2s ease-in-out;
}

.gm-style img {
    max-width: 200px;
}
