/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.btn-search-small {
  background: none;
  border-radius: none;
  border: none;
  font-family: $header-font;
  background: -webkit-linear-gradient(-225deg, rgba(25,52,127,0.6) 0%,rgba(26,140,51,0.8) 33%,rgba(117,181,28,0.6) 66%,rgba(244,218,19,0.6) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .1s ease-in-out;
}
